[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
zappa = "*"
pillow = "*"

[dev-packages]
awscli = "*"
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
